/* Global Styles */
#app {
  font-family: Calibri, sans-serif;
  font-size: 14.5px;
  color: black;
}

/* Layout Containers */
.app_container,
.header {
  width: 90vw;
  margin: 1rem;
  display: flex;
  position: fixed;
  justify-content: center;
  gap: 1rem;
  left: 5vw;
  top: 0;
}

.header {
  height: fit-content;
}

/* Buttons */
.app_buttons,
.selected_app_button,
.buttons,
.button {
  border: 1px solid black;
  width: 9rem;
}

.selected_app_button {
  background-color: darkslategray;
  color: white;
}

.buttons {
  width: 210px;
}

.button {
  height: 3rem;
  position: fixed;
  bottom: 1rem;
  left: 10vw;
  width: 80vw;
  background-color: darkslategray;
  color: white;
}

.buttons:hover,
.button:hover,
.app_buttons:hover {
  background: lightblue;
}

.selectedButton {
  background-color: lightblue;
  width: 210px;
}

/* Text Formatting */
.msg-wrapper,
.formatText {
  white-space: pre-wrap;
}

.msg-wrapper {
  text-align: center;
}

/* Options and Inputs */
.options_container {
  padding-top: 1rem;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-x: hidden;
}

.input_container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100vw;
}

.input_field {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.little-prompt {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.button_container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  width: 100vw;
}

/* Equipment Styles */
.add_equipment {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.equipment_container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 10rem;
  align-self: center;
  text-align: center;
}

.equipment_selection {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.equipment_inputs {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-self: center;
  text-align: center;
}

/* Content Section */
.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
}

/* Utility Classes */
.hidden {
  display: none;
}

/* Media Queries */
@media (max-width: 700px) {
  .button_container {
    flex-wrap: wrap;
  }

  .options_container {
    flex-direction: row;
  }

  .input_field {
    gap: 0;
  }

  .input_container {
    gap: 1rem;
    flex-wrap: wrap;
  }

  .extra_options {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .app_container {
    left: 0;
  }
}